*.log
*.substvars
*.swo
*.swp
*.tmp
.pybuild
__pycache__
build
_build
debhelper-build-stamp
debian/files
debian/python3-uchroma
debian/python3-uchroma-doc
debian/python3-uchroma.uchroma.udev
dist
uchroma.egg-info
