include uchroma/server/data/*.yaml
include LICENSE
include Makefile
include MANIFEST.in
include README.md
include Cargo.toml
include debian/*
include doc/*
include install/*
include rust/*.rs
include scripts/*
include tests/*

