ACTION=="add", SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1532", IMPORT{program}="/usr/bin/uchroma -d $env{DEVNAME} --test"
ENV{UCHROMA_DEVICE}=="?*", GROUP="plugdev", MODE="0660"
