Source: uchroma
Section: misc
Priority: optional
Maintainer: Steve Kondik <shade@chemlab.org>
Build-Depends: debhelper (>=9),dh-python,python3-all,python3-setuptools
Standards-Version: 3.9.8
Homepage: https://github.com/cyanogen/uchroma
X-Python3-Version: >= 3.2
Vcs-Git: git://github.com/cyanogen/uchroma.git
Vcs-Browser: https://github.com/cyanogen/uchroma

Package: python3-uchroma
Section: misc
Architecture: all
Depends: python3,
         python3-grapefruit,
         python3-hidapi,
         python3-numpy
Description: Razer Chroma peripheral interface library (Python 3)
 A library which enables control of color schemes and effects on
 the Razer Chroma line of peripherals.
 .
 This package installs the library for Python 3.

Package: python3-uchroma-doc
Section: doc
Architecture: all
Depends: ${sphinxdoc:Depends}, ${misc:Depends}
Description: Razer Chroma peripheral interface library (Python 3)
 A library which enables control of color schemes and effects on
 the Razer Chroma line of peripherals.
 .
 This package installs the documentation for Python 3.
