Source: uchroma
Section: misc
Priority: optional
Maintainer: Steve Kondik <shade@chemlab.org>
Build-Depends: cython3,
        debhelper (>=9),
        dh-python,
        python3-all,
        python3-argcomplete,
        python3-cffi,
        python3-colorlog,
        python3-colr,
        python3-dev,
        python3-evdev (>= 0.6.4),
        python3-frozendict,
        python3-gbulb,
        python3-gi,
        python3-grapefruit,
        python3-hidapi,
        python3-hsluv,
        python3-numpy,
        python3-pydbus,
        python3-pytest-runner,
        python3-pyudev,
        python3-ruamel.yaml (>= 0.11.14),
        python3-setuptools,
        python3-sphinx,
        python3-sphinx-autodoc-annotation,
        python3-skimage (>= 0.12.3),
        python3-traitlets (>= 4.3.1),
        python3-wrapt
Standards-Version: 3.9.8
Homepage: https://github.com/cyanogen/uchroma
X-Python3-Version: >= 3.2
Vcs-Git: git://github.com/cyanogen/uchroma.git
Vcs-Browser: https://github.com/cyanogen/uchroma

Package: uchroma
Section: misc
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
         dbus-user-session,
         python3 (>= 3.5),
         python3-argcomplete,
         python3-cffi,
         python3-colorlog,
         python3-colr,
         python3-evdev (>= 0.6.4),
         python3-frozendict,
         python3-gbulb,
         python3-gi,
         python3-grapefruit,
         python3-hidapi,
         python3-hsluv,
         python3-numpy,
         python3-pyudev,
         python3-ruamel.yaml (>= 0.11.14),
         python3-pydbus,
         python3-skimage (>= 0.12.3),
         python3-traitlets (>= 4.3.1),
         python3-wrapt
Description: Razer Chroma peripheral manager
 An advanced driver for the Razer Chroma line of peripherals.
 Supports lighting effects, custom animations, and more.
 .
 This package installs the driver and libraries for Python 3.

Package: python3-uchroma-doc
Section: doc
Architecture: all
Depends: ${sphinxdoc:Depends}, ${misc:Depends}
Description: Razer Chroma peripheral interface library (Python 3)
 A library which enables control of color schemes and effects on
 the Razer Chroma line of peripherals.
 .
 This package installs the documentation for Python 3.
