#!/usr/bin/make -f

export DH_VERBOSE = 1
export DESTDIR = debian/uchroma

%:
	dh $@

override_dh_auto_build:
	make build MATURIN=maturin

override_dh_auto_install:
	python3 -m installer --destdir=$(DESTDIR) target/wheels/*.whl
	make install DESTDIR=$(DESTDIR)
	# Use debian-specific service file with /usr/bin path
	install -Dm644 debian/services/uchromad.service $(DESTDIR)/usr/lib/systemd/user/uchromad.service

override_dh_auto_clean:
	make clean || true
	rm -rf dist/ target/ build/

override_dh_auto_test:
	# Skip tests during package build
